* {
    margin: 0;
    padding: 0;
}

.container_images {
    display: flex;
}

.building {
    display: flex;
    justify-content: center;
    background-image: url(/www.DucaPortfolio.Art/img/building_01.png);
    height: 500px;
    width: 300px;
    background-position: center;
    background-size: cover;
}

.construction {
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    background-image: url(/www.DucaPortfolio.Art/img/under_construction_02.png);
    height: 258px;
    width: 200px;
    background-position: center;
    background-size:cover;
    object-fit:contain;
}

.texto_msg {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}